<header class="relative h-screen overflow-hidden py-4 px-5 border-b-thick border-solid border-green-brand">
  <img class="absolute l-0 t-225 h-auto" src="https://res.cloudinary.com/airjoshb/image/upload/w_1500,f_auto/go-to-step-one.jpg" />
  <div class="flex-end logo pt-12">
    <%= render 'logo' %>
  </div>
  <div class="flex-end header-content">
    <div class="relative title pr-4 border-r-thick border-solid border-grey-lightest w-6 items-end">
        <h1>
            Start where you are </br> and begin again.
        </h1>
        <div class="border-b-thick border-solid border-grey-lightest text-right py-4 ">
            <p class="mb-1"><a href="/joshua" target="_blank">Joshua</a> is passionate about making life better — training, cooking, and writing.</p>
        </div>
        <svg class="h-5" height="20" width="20">
            <circle cx="10" cy="10" r="8" stroke="transparent" fill="white"></circle>
        </svg>
    </div>
    <nav class="home-nav relative p-3 w-3 mt-auto text-grey-lightest text-lg">
        <div class="text-right py-1 text-grey-lightest relative">
            <%= link_to "Updates", update_path %>
        </div>
        <div class="border-t-4 border-solid border-grey-lightest text-right text-brand-light relative py-1">
            <%= link_to "Posts", posts_path %>
        </div>
        <div class="border-t-4 border-solid border-grey-lightest text-right text-brand-light relative py-1">
        <%= link_to "Year of Magic Course", product_path(id: "year-of-magic"), class:"font-black" %>
        </div>
        <div class="border-t-4 border-solid border-grey-lightest text-right text-brand-light relative py-1">
        <%= link_to "Crohn's Disease AIP Cookbook", product_path(id: "the-crohn-s-disease-aip-cookbook"), class:"font-black" %>
        </div>
        <div class="border-t-4 border-solid border-grey-lightest text-right text-grey-lightest relative py-1">
                <a href="/joshua" class="font-black">About Joshua</a>
        </div>
    </nav>
  </div>
</header>
