 <section id="quote" class="bg-dark column"> 
   <% for artifact in @artifacts %>
    <% if artifact.url.present? %>
      <a href="<%= artifact.url %>">
        <div class="post mb-4  mt-4 flex">
          <% unless !artifact.image.present? %>
            <div class="flex-third m-2"> 
              <%= cl_image_tag(artifact.image.key, width: 450, transformation: { dpr: "auto", responsive: true, width: "auto", crop: "scale"}, alt: artifact.name, class: "border-l-thick border-green-brand border-solid mr-4") %>
            </div>
          <% end %>
          <div class="flex-column align-end ">
            <h4 class="text-grey-lightest"><%= artifact.name %></h4>
            <div class="text-grey-lightest"><%= artifact.description %></div>
          </div>
        </div>
      </a>
  <% else %>
    <div class="post mb-4  mt-4 flex">
      <% unless !artifact.image.present? %>
        <div class="flex-third m-2"> 
          <%= cl_image_tag(artifact.image.key, width: 450, transformation: { dpr: "auto", responsive: true, width: "auto", crop: "scale"}, alt: artifact.name, class: "border-l-thick border-green-brand border-solid mr-4") %>
        </div>
      <% end %>
      <div class="flex-column align-end">
        <h4 class="text-grey-lightest"><%= artifact.name %></h4>
        <div class="text-grey-lightest"><%= artifact.description %></div>
      </div>
    </div>
  <% end %>
  <% end %>

</section>
