
<% content_for :head do %>
  <title>Thriving with Crohn's Disease as a father, husband, co-founder, and athlete</title>
  <meta name="description" content="<%= @page.description %>" />
  <meta property="og:title", content="Thriving with Crohn's Disease as a father, husband, co-founder, and athlete" />
  <meta property="og:site_name", content="Step One" />
  <meta property="og:description", content="<%= @page.description %>" />
  <meta property="og:image", content="" />
   <meta name="twitter:title", content="Thriving with Crohn's Disease as a father, husband, co-founder, and athlete" />
  <meta name="twitter:description", content="<%= @page.description %>" />
  <meta name="twitter:image", content="" />
  <meta name="twitter:card", content="summary" />
  <meta name="twitter:url", content="https://gotostepone.com" />
  <meta itemprop="name", content="Thriving with Crohn's Disease as a father, husband, co-founder, and athlete" />
  <meta itemprop="description", content="<%= @page.description %>" />
  <meta itemprop="image", content="" />
  <link rel="canonical" href="https://gotostepone.com" />
<% end %>
<div id="main">
  <%= render "hero" %>
  <%= render "quote", artifact: @artifact unless @artifact.nil? %>
  <section class="flex row wrap around p-4">
    <div class="flex-half"> 
        <% if @posts %><%= render "posts" %><% end %> 
    </div>
    <% if @events.present? %>
      <div class="flex-third"> 
        <div class=""><svg class="green-brand" height="15" width="15"><circle cx="7.5" cy="7.5" r="6.5" stroke="transparent" fill="brand"></circle></svg></div>
        <div class="border-t-thick border-solid border-green-brand date flex-end column">
          Upcoming Events
        </div>
          <% for event in @events %>
            <div class="content p-4">  
              <h3><%= event.name %></h3>
              <div class="small"><%= event.description %>
            </div>
          <% end %>
        <% end %> 
    </div>
  </section>
  <section id="about" class="bg-grey p-6 flex-end">
    <%= cl_image_tag(@about.image.key, width: 200, height: 200, crop: :scale, class: "border-r-thick border-solid border-green-brand", alt: @about.name) %>
    <div class="quoteContent flex column px-5 ">
      <h4 class="mb-4"><%= @about.name %></h4>
      <%= @about.description %>
    </div>   
  </section>
</div>
