
<% content_for :head do %>
  <title>Thriving with Crohn's Disease as a father, husband, co-founder, and athlete</title>
  <meta name="description" content="<%= @page.description %>" />
  <meta property="og:title", content="Thriving with Crohn's Disease as a father, husband, co-founder, and athlete" />
  <meta property="og:site_name", content="Step One" />
  <meta property="og:description", content="<%= @page.description %>" />
  <meta property="og:image", content="" />
   <meta name="twitter:title", content="Thriving with Crohn's Disease as a father, husband, co-founder, and athlete" />
  <meta name="twitter:description", content="<%= @page.description %>" />
  <meta name="twitter:image", content="" />
  <meta name="twitter:card", content="summary" />
  <meta name="twitter:url", content="https://gotostepone.com" />
  <meta itemprop="name", content="Thriving with Crohn's Disease as a father, husband, co-founder, and athlete" />
  <meta itemprop="description", content="<%= @page.description %>" />
  <meta itemprop="image", content="" />
  <link rel="canonical" href="https://gotostepone.com" />
<% end %>
<div id="main">
  <%= render "hero" %>
  <%= render "quote", artifact: @artifact unless @artifact.nil? %>
  <section id="pageContent">
    <div class="pageContent w-6"> 
        <% if @updates %><%= render "post" %><% end %> 
    </div>
  </section>
  <section id="about" class="bg-grey p-6 flex-end">
    <%= cl_image_tag(@about.image.key, width: 200, height: 200, crop: :scale, class: "border-r-thick border-solid border-green-brand", alt: @about.name) %>
    <div class="quoteContent flex column px-5 ">
      <h4 class="mb-4"><%= @about.name %></h4>
      <%= @about.description %>
    </div>   
  </section>
</div>
