<section id="post">
  <div class="postContainer">
    <div class="content">
      <div class="postTitle">
        <h1><%= @survey.title %></h1>
      </div>
      <div class="post border-t-thick border-solid border-green-brand">
        <svg class="h-5 green-brand mb-4 right" height="20" width="20" preserveAspectRatio="xMaxYMax meet">
          <circle cx="10" cy="10" r="8" stroke="transparent" fill="brand" ></circle>
        </svg>
      </div>
      <% @survey.questions.each do |question| %>
        <ul>
          <p><%= question.question_text %></p>
          <% case question.question_type %>
          <% when 'choose_one' %>
            <% question.answer_options.each do |answer| %>
              <li>
                <%= radio_button_tag question.id, answer.id %>
                <%= answer.answer_text %>
              </li>
            <% end %>
          <% when 'multiple_select' %>
            <% question.answer_options.each do |answer| %>
              <li>
                <%= check_box_tag question.id, answer.id %>
                <%= answer.answer_text %>
              </li>
            <% end %>
          <% when 'open_question' %>
            <li><%= text_area_tag question.id %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
 </section> 