<% content_for :head do %>
  <title>The latest updates from Step One</title>
  <meta name="description" content="all of the latest news from our gluten-free bakery " />
  <meta property="og:title", content="the latest updates from Step One" />
  <meta property="og:site_name", content="Step One" />
  <meta property="og:description", content="" />
  <meta property="og:type", content="articles" />
  <meta property="og:url", content="<%= posts_url %>" />
  <meta property="og:image", content="<%=@first_post.image.url if @first_post.image.attached? unless @all_posts.empty? %>" />
  <meta name="twitter:title", content="the latest updates from Step One" />
  <meta name="twitter:description", content="" />
  <meta name="twitter:image", content="<%=@first_post.image.url if @first_post.image.attached? unless @all_posts.empty? %>" />
  <meta name="twitter:card", content="summary" />
  <meta name="twitter:url", content="<%= posts_url %>" />
  <meta itemprop="image", content="<%=@first_post.image.url if @first_post.image.attached? unless @all_posts.empty?%>" />
  <link rel="canonical" href="<%= posts_url %>" />
<% end %>
<% content_for content_for :html do %>
  "http://schema.org/Articles"
<% end %>

<section id="post" class="w-full">
  <div class="container">
    <div class="postContainer">
      <div class="content posts">
        <% unless @all_posts.any? %>
          <p>There are no posts for this category</p>
        <% else %>
          <div class="post mb-6  mt-6">
            <%= link_to cl_image_tag(@first_post.image.key, width: 385, crop: :fill, gravity: 'center', alt: @first_post.title, class: "border-r-8 border-green-brand border-solid mr-4"), post_path(@first_post) if @first_post.image.attached? %>
            <%= link_to post_path(@first_post) do %>
              <h1><%= @first_post.title %></h1>
            <% end %>
            <div class="line-clamp"><%= @first_post.shortened_content(400) %></div>
          </div>
        <% end %>
      </div>
      <div id="postRow" class="">
        <% for post in @all_posts %>
          <div class="post mb-6 p-4">
            <div class="flex content-end mb-4">
              <%= link_to post_path(post), class:"flex" do %>
                <h3 class="vert-rl"><%= post.title %></h3>
                <%= cl_image_tag post.image.key, width: 360, height: 200, crop: :fill, gravity: 'center', alt: post.title, class: "contain border-b-8 border-green-brand border-solid mr-4" %>
              <% end %>
            </div>
            <div  class="line-clamp">
              <svg class="inline h-4 mr-1 align-middle green-brand" height="15" width="15"><circle cx="7.5" cy="7.5" r="6.5" stroke="transparent" fill="brand"></circle></svg>
              <%= post.shortened_content(400) %>
            </div>
          </div>
        <% end %>
      </div>
      <section class="posts mb-6">
        <% unless @more.blank? %>
          <h4>Some More</h4>
          <% @more.group_by {|t| t.created_at.beginning_of_month }.each do |date, posts| %>
            <div class="date"><%= date.strftime("%B, %Y") %></div>
            <% for post in posts %>
              <div class="post">
                <%= link_to post_path(post) do %>
                  <div class="">
                    <h5><%= post.title %></h5>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </section>
    </div>
  </div>
</section>