<% content_for :head do %>
  <title><%=@post.title %> | Step One</title>
  <meta name="description" content="<%= @post.content.to_plain_text.truncate(300) %>" />
  <meta property="og:title", content="<%=@post.title %> | Step One" />
  <meta property="og:site_name", content="Step One" />
  <meta property="og:description", content="<%= @post.content.to_plain_text.truncate(300) %>" />
  <meta property="og:type", content="article" />
  <meta property="og:url", content="<%= post_url %>" />
  <meta property="og:image", content="<%=@post.image.url if @post.image.attached? %>" />
  <meta itemprop="headline", content="<%=@post.title %>" />
  <meta itemprop="description", content="<%= @post.content.to_plain_text.truncate(300) %>" />
  <meta itemprop="image", content="<%=@post.image.url if @post.image.attached? %>" />
  <meta itemprop="datePublished", content="<%=@post.pub_date.to_time.iso8601 unless @post.pub_date.blank? %>" />
  <link rel="canonical" href="<%= @post_url %>" />
<% end %>
<% content_for content_for :html do %>
  "http://schema.org/Article"
<% end %>

<section id="post">
    <div class="postContainer">
      <% if @post.image.attached? %>
        <div class="bannerContainer">
          <%= cl_image_tag(@post.image.key, width: 660, alt: @post.title)  %>
        </div>
      <% end %>
      <div class="content">
        <div class="postTitle">
          <%= image_tag 'step-one-icon.svg', width: 50, alt: "Step One Hand Icon" %>
          <h1 class="pb-4"><%= @post.title %></h1>
          <% unless @post.pub_date.blank? %>
            <i class="postDate">posted <%= time_ago_in_words @post.pub_date %> ago in <%= @post.category.parent.present? ? @post.category.parent.name + " :: " + @post.category.name : @post.category.name %></i>
          <% end %>
        </div>
          <% if @post.has_children? %>
            <ol type="i" class="flex-center column mb-2" id="<%= @post.title.split.join("_") %>" >
              <li><%= link_to @post.title, "#" %></li>
            <% for child in @post.children.order(:created_at) %>
              <li><%= link_to child.title, "##{child.title.split.join("_")}", class: "border-r-2 solid border-green" %></li>
            <% end %>
            </ol>
          <% end %>
        <div class="post border-t-thick border-solid border-green-brand">
          <svg class="h-5 green-brand mb-4 right" height="20" width="20" preserveAspectRatio="xMaxYMax meet">
            <circle cx="10" cy="10" r="8" stroke="transparent" fill="brand" ></circle>
          </svg>
        </div>
        <% if @post.artifacts.not_embeds.any? %>
          <div class="w-full"><p class="gold-text heading-font py-2">In this post<p></div>
          <div class="flex wrap border border-solid border-gold-brand mb-6 px-4">
            <% for artifact in @post.artifacts %>
                <%= link_to artifact.url, target: "_blank", class: "artifact" do %>
                  <div class="flex-center py-4 artifact">
                    <%= cl_image_tag(artifact.image.key, width: 75, height: 75, crop: :fill, gravity: 'center', alt: artifact.name, class: "pr-4") if artifact.image.attached? %>
                    <h4><%= artifact.name %></h4>
                  </div>
                <% end %>
            <% end %>
          </div>
        <% end %>
        <%= @post.content %>
        <% for child in @post.children.order(:created_at) %>
          <div class="border-t border-solid border-gold-brand mb-4">
            <svg class="h-5 gold-brand mb-4 right" height="20" width="20" preserveAspectRatio="xMaxYMax meet">
              <circle cx="10" cy="10" r="8" stroke="transparent" fill="brand" ></circle>
            </svg>
            <h2 id="<%= child.title.split.join("_") %>", class="py-4"><%= child.title %></h2>
            <small><%= link_to "< Back to Top", "##{@post.title.split.join("_")}" %></small>
            <% if child.artifacts.not_embeds.any? %>
              <div class="w-full"><p class="gold-text heading-font py-2">Downloadable Resources<p></div>
              <div class="flex column border border-solid border-gold-brand mb-6 px-4">
                <% for artifact in child.artifacts %>
                  <div>
                    <%= link_to artifact.url, target: "_blank" do %>
                      <div class="flex py-2 artifact">
                        <%= cl_image_tag(artifact.image.key, width: 75, height: 75, crop: :fill, gravity: 'center', alt: artifact.name, class: "pr-4") if artifact.image.attached? %>
                        <h4><%= artifact.name %></h4>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
            <%= child.content %>
          </div>
        <% end %>
      </div>
      <% if @post.artifacts.embeds.any? %>
        <div class="detailContent">
        <div class="flex-center wrap border border-solid border-gold-brand mb-6 p-4">
          <% for artifact in @post.artifacts.embeds %>
              <%= artifact.embed.html_safe %>
          <% end %>
        </div>
        </div>
      <% end %>
    </div>
</div>
</section>