<% Rails.logger.debug "Rendering _form partial with response: #{response.inspect}" %>
<%= form_with model: [@survey, response] do |form| %>
  <div class="customer-fields">
    <%= render 'customer_fields', form: form %>
  </div>

  <% @survey.questions.each do |question| %>
    <div class="question">
      <h4><%= question.question_text %></h4>
      <ul>
        <% case question.question_type %>
        <% when 'choose_one' %>
          <%= form.fields_for :question_answers do |answer_form| %>
            <%= answer_form.hidden_field :question_id, value: question.id %>
            <%= answer_form.collection_radio_buttons :answer_option_ids, question.answer_options, :id, :answer_text do |b| %>
              <li>
                <%= b.radio_button %>
                <%= b.label %>
              </li>
            <% end %>
          <% end %>
        <% when 'multiple_select' %>
          <%= form.fields_for :question_answers do |answer_form| %>
            <%= answer_form.hidden_field :question_id, value: question.id %>
            <%= answer_form.collection_check_boxes :answer_option_ids, question.answer_options, :id, :answer_text do |b| %>
              <li>
                <%= b.check_box %>
                <%= b.label %>
              </li>
            <% end %>
          <% end %>
        <% when 'open_question' %>
          <%= form.fields_for :question_answers do |answer_form| %>
            <%= answer_form.hidden_field :question_id, value: question.id %>
            <li>
              <%= answer_form.text_area :answer_response, placeholder: "Your response" %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>