<!DOCTYPE html>
<html temscope itemtype=<%= content_for?(:html) ? yield(:html) : "http://schema.org/WebPage" %> >
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag %>
    <script src="https://js.stripe.com/v3/" async></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= auto_discovery_link_tag :rss, feed_url(:format => :rss) %>
    <%= javascript_importmap_tags %>
    <%= turbo_include_tags %>
    <%= yield(:head) %>
  </head>

  <body>
    <div id="mobile-nav" class="py-4 px-4">
          <div class="flex-center row">
            <%= link_to root_path, class:"logo" do %>
              <%= render 'main/logo' %>
            <% end %>
          </div>
          <div class="flex-around flex">
            <div class="px-4">
                <%= active_link_to "Updates", update_path %>
            </div>
            <div class="px-4">
                <%= active_link_to "Posts", posts_path %>
            </div>

            <div class="px-4">
                <%= active_link_to "Course",  "/products/year-of-magic" %>
            </div>
            <div class="px-4">
                <%= active_link_to "Cookbook", "/products/the-crohn-s-disease-aip-cookbook" %>
            </div>
            
            <div class="px-4">
                <%= active_link_to "Joshua", about_path %>
            </div>
            <div class="px-4">
              <button class="iconButton iconContainer bagIconContainer">
                <%= link_to cart_path, rel: 'nofollow' do %>
                    <%= render "layouts/basket_icon" %>
                    
                <%= render "cart/icon", cart: @cart %>
                <% end %>
              </button>
            </div>
          </div>
      </div>
    <main class="flex">
      
      <%= yield %>
      <%= render "layouts/navigation" %>
    </main>
    <footer><%= render "layouts/footer" %></footer>
  </body>
</html>
